:root{
    --color-letra: rgb(95, 94, 94);
    --color-botn: rgb(2, 2, 2);
    --color-cool: rgba(0,136,169,0.7);
    --color3: rgba(17, 21, 248, 0.66);
    --color-borde-input:rgba(121, 15, 25, 0.823);
    --color-fondo-contenedor:#ffffff9f;
    --color_botnBckg: #FFE26D;
    /* --color-header:  #27d027; */
    --colorfooter:#3B3B3C;
     /* rgb(95, 94, 94); */
    /* --color-header: linear-gradient(180deg, rgba(44,44,48,1) 0%, rgba(120,127,133,1) 77%); */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #242524; */
}
li ,a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{

    display: flex;
    justify-content: space-between;
    padding: 6vh 0vw 6vh 51vw;
    /*  arriba y abajo, 10px de padding */
    /* izquierda y derecha, 20px de padding */
    background: url(../images/navbar1.jpg);
    background-position-y: -201px;
    background-position-x: -20px;
    background-repeat: no-repeat;
    
}
.nav__links{
    list-style: none;
    float: right;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
     /*  arriba    1em  padding  */
    /*  derecha  3px  padding  */
    /*  abajo 30px padding  */
    /*  izquierda   5px  padding*/
}
.nav__links li .anchor {
   transition:  all 0.3s ease 0s; 
}
.nav__links li .anchor:hover {
    color: #0088a0 ;
 }
/* menu desplegable */

.menu_vertical{
    display: none;
    list-style: none;
    background-color: rgba(0,0,0, .5);
}
.desplegable:hover  .menu_vertical {
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    border-radius: 7px;
    
}

.auxiliar_li:hover{
    color: rgba(255, 68, 0, 0.946);
    background-color: #e4d9d9d0;
    font-size: 17px;
    margin: 2px;
    border-radius: 7px;
}


/* cuerpo contenido */
body{
    color: var(--color-letra);
    
}


h2, b{
    background-color: transparent;
    color: var(--color-cool);
    
}

.guardar_continuar{
    
    background-color: var(--color_botnBckg); 
    float: right;
    color: var(--color-botn);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 7em;
    margin-bottom: 4em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 8px 8px rgba(186, 182, 182, 0.871);
}

.guardar_continuar:hover{
    transform: scale(0.92);
    
}
.atras{
    background-color: var(--color_botnBckg); 
    float: left;
    color: var(--color-botn);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 7em;
    margin-bottom: 4em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 8px 8px rgba(186, 182, 182, 0.871);
}
.atras:hover{
    cursor: pointer;
    transform: scale(0.92);
}
/* https://www.youtube.com/watch?v=FlxxLULt3Ao&ab_channel=TruzzBlogg */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&display=swap');

h3{
    padding: 1.1em;
    color: rgb(102, 98, 98);
    background: #E5E5E5;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}
h4{
    padding: .9em 2em;
    background: rgba(254, 205, 7, 0.59);
}

label{
    padding-left: 25px;
    /* padding-bottom: 5px; */
}
/* selector por atributo
un em = 16px


*/
/* 

input[type="number"]{
    width: 6em;
} */
.mapa{
    margin: 5vh 10vw 0vh 10vw;
}
#map{
    
    height: 500px;
    /* width: 70%; */
    /* height: 70%; */

}
.contenedor{
    padding: 30px 7em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 0;
    
}
.contenedor_2{
    padding: 30px 7em;
    display: flex;
    flex-direction: row;
}  
input,select{
    border-radius: 4px;
    text-align: center;
    border: none;
    border-color: none;
    background: #EAEAEA;
}
h5{
    margin: 1em 0;
    padding: .9em 2em;
    background: rgba(228, 213, 153, 0.59);
}
input[type="checkbox"]{
    margin: 2px 5px;
}


h1{
    color: white;
}

/* footer */
footer{
    padding: 50px 10% 30px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--colorfooter);
}
strong{
    color: white;
    font-size: 18px;
}
.col_footer_1, .col_footer_2{
    list-style: none;
}
.col_footer_1 li, .col_footer_2 li{
    margin: 8px 0px;
}
