
:root{

    --color-cool: rgba(0,136,169,0.7);
    --color-letra-btn:white;
}

.contenedor_login{
    margin: 14vh 23vw 6.5vh 23vw;
    border: 1px solid rgb(228, 227, 227);
    text-align: center;
    box-shadow: 1px 6px 8px rgb(216, 212, 212);
    border-radius: 12px;
}
/* .contenedor_login_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 20px;
} */
.col{
    /* margin: 0 2em; */
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
.olvidar{
    color: rgb(0, 0, 0);
}

.card_head{
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 9px 0;
    background-color: rgba(201, 207, 209, 0.7);
}
.btn-login, .btn-registrar{
    background: rgba(37, 116, 30, 0.7);
    padding: 1vh 1vw;
    border-radius: 9px;
    border: none;
    color: var(--color-letra-btn);
    cursor: pointer;
}
.contenedor_registrar{
    display: flex;
    flex-direction: column;
    padding: 10vh 25vw;
    align-items: center;
}
.contenedor_registrar  input,#select,.btn-registrar,.btn-login, input[type="password"],input[type="email"]{
    height: 35px;
    width: 164px;
}
.btn-registrar, .btn-login{
    margin: 1em 0 1em 18px;
}
