
.contenedor_datatable_ponderacion{
    margin: 2rem 4rem;
    /* display: grid;
    grid-template-columns: auto-fill, minmax( 25rem, 1fr); */
}
.title_head{
    margin-top: 10px ;
    background-color: rgba(254, 205, 7, 0.344);
    color: rgb(82, 80, 80);
}
