.contenedor_2{
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 4em;
    background: rgba(254, 205, 7, 0.19);
}  
.contenedor_2 input[type="checkbox"]{
    margin-left: 5px;
    margin-right: 10px;
    width: 20px;
    height: 25px;   
}

.contenedor_2 input[type="text"], input[type="number"], input[type="datetime"]{
    margin-left: 5px;
    margin-right: 10px;
    width: 120px;

}
.contenedor_2 label{
    margin-top: 4px;
    /* margin-right: 10px; */
}  
#minimo, #maximo{
    width: 10vw;
    margin: 0 3px;
}
.titulo label, .formas_pago label{
    display: flex;
    /* padding-top: 8px; */
    margin-left: 10px;
    margin-top: .5em;
}


.formas_pago input, #formas_pago, #reservas{
    height: 25px;
    width: 20px;
    margin-left: 5px;
    margin-top: -4px;

}
.formas_pago label{
    display: flex;
    flex-direction: row;
    height: 25px;
}
.titulo{
    display: flex;
}
#formas_pago_div{
    display: flex;
    justify-content: space-around;
}
.conetenedor_seccion_4_formas_de_pago{
    /* margin: 2em 4em; */
}
.p_reservas{
    display: flex;
    justify-content: space-evenly;
    margin: 5px 2em;

}

.contenedor_reservas_formas_pago{
    background: rgba(254, 205, 7, 0.19);
    margin: 2em 4em;
    display: flex;
    flex-direction: column;

}