.contenedor_padre{
    display: grid;
    grid-template-columns: 2;
    margin: 2em 4em ;
    background: rgba(254, 205, 7, 0.19);

}
.enunciado{
    text-align: center;
    font-weight: bold;
}
.contenedor_pregunta5-1{
    display: flex;
    margin: .5em 0 .5em 0 ;

}
.c_a{
    justify-content: space-evenly;

}
.c_b{
    justify-content: space-around;
}

hr{
    margin: 0 2em;
}
/* label input[type="checkbox"]{
     float: unset;
     } */
