.contenedor_seccion4{
    padding: 10px 7em 5px 7em;
    display: flex;
    flex-direction: row;
    margin: 2em  4em;
    background: rgba(254, 205, 7, 0.19);
    justify-content: space-between;
}
#poblado_cercano{
    width: 33%;
}
.contenedor_seccion4 input{
    margin: 0px 30px 0px 5px;
    height: 30px;

}
.contenedor_seccion4 label{
    margin-top: 3px;
    height: 30px;
}
.contenedor_seccion4_3{
    padding: 2vh 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vw;
    margin: 2em  4em;
    background: rgba(254, 205, 7, 0.19);

}
.contenedor_seccion4_3filas{
    display: flex;
    flex-direction: column;
    margin: 2em  4em;
    background: rgba(254, 205, 7, 0.19);
}
.row{
    padding: 2vh 3vw;
    display: flex;
}
.row_1{
    justify-content: space-around;
}
.row_2{
    justify-content: space-around;
}
.row_2 input{
    height: 20px;
    margin-left: 4px;
    margin-right: 1em;
}
.row_3{
    justify-content: space-around;

}
.row_3 input{
    width: 80%;
}
.contenedor_seccion4_2{
    display: flex;
    flex-direction: column;

}

.titulo_seccion4_subpregunta {
    display: flex;
    margin-bottom: 1.1em;
    justify-content: space-evenly;
}   
.titulo_seccion4_subpregunta label, .seccion4_row label{
    margin-top: 4px;
    /* padding-top: 8px; */
    display: flex;

}
.titulo_seccion4_subpregunta input{
    margin-top: 2px;
    margin-left: 5px;
    display: flex;
    height: 15px;
    width: 25px;
}
.seccion4_row input{
    margin-top: 4px;
    margin-left: 5px;
    display: flex;
    height: 15px;
    width: 25px;
}
.seccion4_row{
    display: flex;
    margin-bottom: 1em;
}
.seccion4_row input{
    margin-right: 10px;
}
.aux , .transportes , .transportes2{
    display: flex;
    flex-direction: row;
    margin: 2em  4em;
    background: rgba(254, 205, 7, 0.19);
    padding: 2vh 3vw;
    justify-content: space-evenly;
}
