
.contenedor_seccion6_fila{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(254, 205, 7, 0.19);
    margin: 1em 4em;
    padding: 1em 0;
}
.enunciado{
    margin: 1em 4em;
}

.contenedor_seccion6_2cols{
    background: rgba(254, 205, 7, 0.19);
    margin: .5em 4em 0 4em;
    display: grid;
    grid-template-columns: 260px 850px;
}
.contenedor_seccion6_4cols{
    background: rgba(254, 205, 7, 0.19);
    margin: 0em 4em 2em 4em;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    gap: 2em;
}
.contenedor_seccion6_2cols label{
    margin: 0 auto;
    font-weight: bolder;
}
.col{
    display: flex;
    flex-direction: column;
    
}
.col_aux{
    margin-left: 3em;
    margin-left: 2em;

}
.col label{
    margin: .3em 0;
}
.subcolumna_par,.subcolumna_par3, .subcolumna_par4{
    display: grid;
    grid-template-columns: 220px 10px ;
}

.sucolumna_par_2{
    display: grid;
    grid-template-columns: 180px 10px ;
}

.subcolumna_par input, .sucolumna_par_2 input, .subcolumna_par3 input, .subcolumna_par4 input{
    margin: 8px auto;
}