
.contenedor_datatable{
    margin: 2rem 4rem;
    /* display: grid;
    grid-template-columns: auto-fill, minmax( 25rem, 1fr); */
}
.title_head{
    margin-top: 10px ;
    background-color: rgba(254, 205, 7, 0.344);
    color: rgb(82, 80, 80);
}
.btn_editar{
    background-color: rgba(34, 98, 237, 0.809);
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    cursor: pointer;
}
.btn_eliminar{
    background-color: rgba(237, 34, 34, 0.939);
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    cursor: pointer;
}
.botones{
    display: flex;
    justify-content: space-around;
}
.btn_nuevo_registro{
    background-color: var(--color_botnBckg); 
    color: rgb(24, 23, 23);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 8px 8px rgba(186, 182, 182, 0.871);
}
.btn_nuevo_registro h2 a{
    color: rgb(24, 23, 23);

}
.div_boton{
    margin-top: 1rem ;
    display: flex;
    justify-content: center;

}